<!DOCTYPE html>
<html>
  <head>
    <title>SrodgersWebUi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="d-flex flex-wrap justify-content-center py-3 ps-2 pe-4 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Srodgers</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Dashboard</a></li>
      </ul>
    </header>

    <div class="container-fluid ps-4 pe-4">
      <%= yield %>
    </div>
  </body>
</html>
